<div class="center hero-unit">
  <h1>Welcome to Hairology</h1>
    <h2>Your guide along your journey to your best self.</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("long-hair.jpg", alt: "Long Hair"), 'http://www.google.com' %>
