<div class="center hero-unit">
  <h1>Welcome to Hairology</h1>
    <h2>Your guide along your journey to your best self.</h2>
  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
</div>
